*{
  box-sizing: border-box;
}

body{
  margin: 0;
  color: white;
  background-color: #0a1023;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}
.icono{
  font-weight: bold;
}

.chess-clock{
  color: white;
  background-color: rgb(44, 62, 80) ;
  margin: auto;
  width: 60%;
  width: 300px;
height: 550px;
width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  border-radius: 2em;
}


/*
.jugador2win{
  background-color: darkblue;
  color: white;

}*/

.desaparecer{
  display: none;
  
}


.aparecer{
  display: initial;
}

.icono{
  font-size: 20px;
}

header{

}



.cont_header{
 /* background-color: brown;*/
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}


.boton{
  background-color: rgb(44, 62, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 9px;
  color: #656565;;
}

.boton h1{
  font-size: 50px;
  margin-top: 0;
}


.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #003558;
}

.controls a{
  cursor: pointer;
}

/*ESTILOS PARA EL MENU */

.fondo_menu{
  transition: all 0.30s;
 /* background-color: rgba(65, 65, 65, 0.288);*/
  position: fixed;
  top: 0;
  width: 0px;
  height: 100%;
}
.trasladar{
  transition: all 0.30s;
  width: 100%;
}


.cont_menu{
  background-color: #EF4444;;
  float: left;
  width: 400px;
  width: 50%;
  width: 64%;
font-size: 0px;
  height: 100%;
  color: white;
  position: absolute;
  
  left: 0;
}

.eliminar{
  display: none;
}

.aparecer{
  display: initial;
}

.agrandar_letras{
  font-size: 17px;
}


.opciones h3{
 /* background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-color: #ffffff4f;
  border-style: solid;
  border-right: none;
  border-left: none;
  padding: 10px 0;
}


.opciones h3 p{
  color: white;
  line-height: 1px;
}





.cont_x{
  margin: auto;
  width: 90%;
margin-top: 50px;
margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}


.opciones{
  margin: auto;
  width: 90%;
}

/*
.boton1{
background-color: #d35400;
}*/



.fondo_color{
  background-color: #01993e;
  background-color: #EF4444;
  color: white;
}


.tiempo {
  cursor: pointer;
}

.cont_x{
  cursor: pointer;
}


.icono{
  cursor: pointer;
}


/*ESTILOS PARA EL FONDO DE DEITAR*/


.fondo_editar{
  background-color: #00000099;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}


.cont_confg{
  background-color: #27272a;
color: #d6dbdc;
margin:120px auto;
width: 80%;
padding: 20px;
border-radius: 10px;
}

.cont_botones{
 /* background-color: red;*/
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}


.titulo_confg{
  text-align: center;
}



.div_minutos, .div_segundos, .div_velocidad{
 /* background-color: red;*/
  text-align: center;
  margin: auto;
margin-top: 60px;
}

.cont_confg input{
  font-size: 20px;
  padding: 5px;
  color: white;
  color: #ffffff;
  border-radius: 8px;
  border-color: #ff890000;
  background-color: #002d741f;

}

.cont_confg input::placeholder{
  color: white;
}


.cancelar{
  color: #EF4444;

}
.establecer{
  background-color: #4D7C0F;
  background-color: #01993e;
  border-color: #01993e;
  border-style: solid;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.cancelar, .establecer{
  cursor: pointer;
}


.jugador1win{
  color: #00ffd2;
}

.jugador2win{
  color: #00ffd2;
}

.chess-clock{
  margin-top: 35px;
  margin-top: 50px;
  margin-top: 70px;
}

.cont_header span{
  color: #EF4444;
}




/*ESTILO PARA DESABILTIAR EL BOTON*/
.desa{
  cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
  pointer-events: none; /* Evita que el div sea interactivo */
}


.controls a{
  display: flex;
  gap: 10px;
  align-items: center;
}












































@media (max-width: 400px){
  body{
  /*  background-color: red;*/
  }

  .cont_confg input{
    font-size: 13px;
  }

  .cont_confg{
    margin: 20px auto;
    padding: 7px;
    padding: 1px;
  }

  .cont_botones{
    flex-direction: column;
  }


.chess-clock{
  margin-top: 10px;
}

}






















































@media (min-width:1024px){
  body{
   
  }

  .chess-clock{
    margin-top: 71px;
    margin-top: 50px;
    grid-template-columns: 2fr 1fr 2fr;
   
  }

  .cont_menu{
    width: 30%;
  }

.controls{
  font-size: 30px;
  flex-direction: column;
  gap: 104px;
}

.boton{
  padding: 250px 0;

}





.cont_header{
  width: 80%;
}

/*ESTILOS A ELIMINAR*/

.boton{
  padding: 0;
}


}