*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}
.icono{
  font-weight: bold;
}

.chess-clock{
  color: white;
  background-color: darkolivegreen ;
  margin: auto;
  width: 60%;
  width: 300px;
height: 550px;
width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}



.jugador2win{
  background-color: darkblue;
  color: white;

}

.desaparecer{
  display: none;
}


.aparecer{
  display: initial;
}

.icono{
  font-size: 20px;
}



.cont_header{
  background-color: brown;
  margin: auto;
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
}


.boton{
  background-color: rgb(44, 62, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boton h1{
  font-size: 50px;
  margin-top: 0;
}


.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.controls a{
  cursor: pointer;
}

/*ESTILOS PARA EL MENU */

.fondo_menu{
  transition: all 0.30s;
 /* background-color: rgba(65, 65, 65, 0.288);*/
  position: fixed;
  top: 0;
  width: 0px;
  height: 100%;
}
.trasladar{
  transition: all 0.30s;
  width: 100%;
}


.cont_menu{
  background-color: #d35400;
  float: left;
  width: 400px;
  width: 50%;
font-size: 0px;
  height: 100%;
  color: white;
  position: absolute;
  
  left: 0;
}

.eliminar{
  display: none;
}

.aparecer{
  display: initial;
}

.agrandar_letras{
  font-size: 17px;
}


.opciones h3{
 /* background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.opciones h3 p{
  color: white;
  line-height: 1px;
}





.cont_x{
  margin: auto;
  width: 90%;
margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}


.opciones{
  margin: auto;
  width: 90%;
}

/*
.boton1{
background-color: #d35400;
}*/



.fondo_color{
  background-color: #d35400;
}


.tiempo {
  cursor: pointer;
}

.cont_x{
  cursor: pointer;
}


.icono{
  cursor: pointer;
}








































@media (min-width:1024px){
  body{
    background-color: brown;
  }
}